{% extends 'base.html' %}
{% block title %}Home{% endblock %}



{% block body %}
    <form method="POST" class="mt-3">

    <div class="form-group">
        <label for="post"> Add a comment</label>
        <input placeholder="What will you say"
           class="form-control"
           type="text"
           id="post"
           name="post">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Add Comment</button>

    </form>


{% for comment in comments %}
    <div class="card mt-3" style="width: 18rem;">
      <div class="card-header">
        {{ comment.user.name }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ comment.data }}</li>
        <li class="list-group-item">{{ comment.date }}</li>
        <button type="button" class="btn btn-primary mt-2" onclick="deletePost({{ comment.id }})">Delete Comment</button>
      </ul>
    </div>
{% endfor %}
{% endblock %}